<!DOCTYPE html>
<html>
<head>
<title>Tweet Machine</title>
<link rel="stylesheet" href="css/blueprint/screen.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="css/blueprint/print.css" type="text/css" media="print">	
<link rel="stylesheet" href="css/blueprint/typography.css" type="text/css" media="print">	
<style type="text/css" >
    
</style>
<link rel="stylesheet" href="css/index.css" type="text/css">	

</head>
<body>
<div class="span-10" style="padding:20px;">
<h2>
    Halt who goes there! This page is here incase your session expired or a dozen
    other reasons. Who knows! Try again>>
    <a href="index.html" style="text-decoration: none">Home</a>
</h2>
</div>
</body>
