<!--

-->
<!DOCTYPE html>
<html>
<head>
<title>Tweet Machine</title>
<link rel="stylesheet" href="css/blueprint/screen.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="css/blueprint/print.css" type="text/css" media="print">	
<link rel="stylesheet" href="css/index.css" type="text/css">	
<script type = "text/javascript" src = "js/libs/evented.js"></script>
<script type='text/javascript' src="js/libs/jquery-1.4.2.min.js" ></script>

<script id="feedTemplate" type="text/x-jquery-tmpl">
    <tr> 
        <td><input type="checkbox" id = "chckbdy", checked = ${checked}/> </td> 
        <td>${dat}</td>
	<tr>
</script>

<script type='text/javascript' src="js/index.js" ></script>
<!--[if lt IE 8]><link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
</head>
<body>
<div class = "span-28 push-5">
    <!--Row 0-->
    <div class="span-28 last" >
        <div class="span-12">
            <h1 class = "span-11 blue">
                Tweet Machine
                <a href="index.html"></a>
            </h1>
        </div>
        <div class="span-12">
            <div class="span-9 pushdown-1">
                <input class="span-5" placeholder="Login" type ='text' name="register"> </input>
                <span class="push">or</span>
                <a href="/twitterlogin">Log in via twitter</a>
            </div>
        </div>
    </div>
    <div  class="span-24">
        <p class="sephor">
        </p>
    </div>
        <!-- The main body-->
        <!--Row 1-->
    <div class ="span-28 prepend-top">
        <!--Row 1 column 1--->
        <div class="span-12">
        
            <h3 class="loud">Search people or add topics</h3> 
            <div class="span-12">
                <p class="span-6">
                    <input class="span-6 search" placeholder="#Example" type ='text' name="searchbox"> </input>
                </p>
                <div class="span-4">
                    <div class="button-wrap" id ='Search'>
                        <div class="button-value" >
                            <span class="button-text">
                                Search
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row 2 column 1-->
            <div class= "span-12"> 
                <table id="fedortopic" class= "span-6">
                    <colgroup>
                        <col>
                        <col id="middle">
                        <col>
                    </colgroup>
                    <thead>
                    <tr class="span-6">
                        <th class="span-1"><input type="checkbox" id = "chckHead"/> </th>
                        <th class="span-4"> Topic or Feed</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="span-6">
                        <td class="span-1"><input type="checkbox" id = "chckHead"/> </td>
                        <td class="span-4"> #Osama</td>
                    </tr>
                    <tr class="span-6">
                        <td class="span-1"><input type="checkbox" id = "chckHead"/> </td>
                        <td class="span-4"> #Libya</td>
                    </tr>
                    <tr class="span-6">
                        <td class="span-1"><input type="checkbox" id = "chckHead"/> </td>
                        <td class="span-4"> @Barack</td>
                    </tr>
                    <tr class="span-6">
                        <td class="span-1"><input type="checkbox" id = "chckHead"/> </td>
                        <td class="span-4"> #NATO</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--End of Row 1 column 1--->
        <!--Gutter-->
        <div class="span-1">
            <p class="sepvert" >
            </p>
        </div>
        
        <!--Row 1 column 2--->
        <div class="span-11">
            <h3 class="loud">Live Stream</h3> 
            
        </div>
        <!--End of Row 1 column 2--->
    </div>
    <!--End of row 1-->
<!--TODO: Place footer here... -->	
</div>
<!--End of main container--->

<div id = "data"></div>

</body>
</html>
